.section{
    padding: 50px;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.onglet{
    width: 20%;
    height: 20%;
    background-color: black;
}

#demo {
    color: blue;
}