*{
    margin: 0px;
    padding: 0px;
}

/*Variables ---------------------------------------------------------------------------------------------------------------------------------*/
:root{
    /* Colors */
    --c-background : rgb(20, 20, 20);
    --c-text : rgb(250, 250, 250);
    --c-accent : rgb(255, 0, 0);

    /* Paddings and Margins */
    --mp-s: 20px;
    --mp-m: 40px;

    --mp-m-mobile: 20px;
    --mp-s-mobile: 10px;


    /* Border Radius */
    --br-s: 10px
}

/*General class----------------------------------------------------------------------------------------------------------------------------*/
.flexrow{
    display: flex;
    flex-direction: row;
}

.flexcolumn{
    display: flex;
    flex-direction: column;
}

.sb-flex{
    justify-content: space-between;
}

.section{
    padding: var(--mp-m);
}

.relative{
    position: absolute;
}

.alignCenter{
    align-items:center ;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/


body{
    background-color: var(--c-background);
}

/*Font Styles ---------------------------------------------------------------------------------------------------------------------------*/
h1,h2,h3, p{
    color: var(--c-text);
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
}

p{
    font-family: "Roboto Mono" , serif ;
    font-size: 14px;
}

h1, h2{
    font-style: normal;
    font-size: 9vw;
    line-height: 75%;
    letter-spacing: -6%;
}

h3{
    font-style: normal;
    font-size: 7.5vw;
    line-height: 75%;
    letter-spacing: -6%;
}

.smallText{
    font-size: 30px;
}

/*Sections -----------------------------------------------------------------------------------------------------------------------------*/


/*Section 1-------------------------------------------------------------*/
#section1{
    height: 90vh;
    margin-bottom: 10vh;
}

#speSec1{
    gap: 100px;
}

/*Onglets ------------------------------------------------------------*/
.onglet{
    
    /*Borders*/
    border-radius: var(--br-s);
    border-color: var(--c-text);
    border-width: 1px;
    border-style: solid;

    /*Size*/
    width: 100%;
    height: 100%;

    overflow: hidden;

    
}




/*Header window 1st section*/
.ongletHeader{

    /*Disposition*/
    justify-content: space-between;
    align-items: center;
    padding: var(--mp-s);

    /*Borders*/
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--c-text);

    /*Style*/
    background-color: var(--c-background);
}


.nav {
    gap: 10px;
}




/*Body window 1st section */
.ongletBody{

    /*Disposition*/
    align-items: stretch;

    /*Size*/
    height:100% ;

}

#leftDivIntro{

    /*Size*/
    width: 45%;

    /*Disposition*/
    margin: var(--mp-s);
    margin-right: 0px;
    justify-content: space-between;
}

#rightDivIntro{

    /*Size*/
    height: 100%;
    width: 55%;
    
    /*Disposition*/    
    align-items: flex-end;
}

#text-intro-left{

    /*Size*/
    width: 55%;
}

#introImageWrapper{

    /*Size*/
    height: 60%;
    width: 100%;

    /*Style*/
    background-image: url(assets/img/rox.jpg);
    background-size: cover;
}

#rightDivBotDivIntro{

    /*SIze*/
    width: fit-content;
    height: 40%;

    /*Disposition*/
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--mp-s);

}

#text-intro-right{

    /*Size*/
    width: 30vw;
}


/*Section 2 -------------------------------------------------------------------*/
#section2{
    
    /*Size*/
    height: 100vh;

    /*Style*/
    background-color: var(--c-background);
}

#leftColSec2{

    /*Size*/
    width: 47vw;
}

#rightColSec2{
    
    /*Size*/
    width: 47vw;

    /*Disposition*/
    align-items: flex-end;
    
}
/*Window cross */
.crossOnglet{
    width: 17px;
}

/*CTA */
.CTA{

    /*Disposition*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5vw;

}

#rightTextDivSec2{

    /*Size*/
    width: fit-content;

    /*Disposition*/
    gap: 1.5vh;
    justify-content: flex-end;
}

.spe {

    /*Size*/
    width: 45vw;
    height: 14vw;

    /*Style*/
    overflow: hidden;
}

/*Spécialité 2---------------*/
#spe2{

    /*Disposition*/
    margin-top: -5vh;
    margin-left: 7vw;
}
/*Spécialité 3---------------*/
#spe3{

    /*Disposition*/
    margin-top: -5vh;
    margin-left: 2.5vw;
}

/*Spécialité 4---------------*/
#spe4{

    /*Disposition*/
    margin-top: 12vh;
    margin-right: 2.5vw;
}

/*Spécialité 5---------------*/
#spe5{

     /*Disposition*/
    margin-right: 15vw;
    margin-top: -8vh;
}
/*Image for spe cards*/
.imgSpe{

    /*Size*/
    width: 100%;
    height: 100%;

    /*Style*/
    object-fit: cover;
    object-position: center;
}

/*Section 3 -----------------------------------------------------------------------------------------------*/
#section3{

    /*Disposition*/
    gap: var(--mp-m);
    margin-bottom: var(--mp-m);
}

.sec3Title{

    /*Disposition*/
    gap: var(--mp-m);
}

.sec3window{

    /*Disposition*/
    margin-top: -32vh;
    z-index: -1;
}

.sec3Onglet {

    /*Size*/
    width :65vw;
    
}

.alignEnd{

    /*Disposition*/
    align-items: flex-end;
}

.sec3header{

    /*Disposition*/
    display: flex;
    justify-content: end;
}

#sec3Image{

    /*Size*/
    width : 50vw;
    height: 50vh;

    /*Disposition*/
    z-index: 1;
}

#sec3Image2{

    /*Size*/
    width : 40vw;
    height: 48vh;

    /*Style*/
    object-fit: cover;
}


#p1sec3{

    /*Size*/
    width: 30vw;
}

#paragraphInDivSec3{

    /*Size*/
    width: 30vw;

    /*Disposition*/
    margin: 20px;
}

#paragraphOutDivSec3{

    /*Size*/
    width: 30vw;

    /*Disposition*/
    margin-bottom: 20px;
}


/*Section 4 ---------------------------------------------------------------------------------------------------------------------*/

.sec4Body{

    /*Size*/
    height: 80vh;
    
    /*Disposition*/
    display: flex;
    align-items: flex-start;

    /*Style*/
    position:relative; /*La section .sec4Body est donc parent des sections en absolute */
    overflow:hidden; /*Donc maintenant elles sont affectées par la propriété overflow hidden et ne dépassent plus*/
    background-image: url(assets/img/intro.jpg);
    background-size: cover;
}


.window{

    /*Size*/
    width: calc(100%-calc(var(--mp-m) * 2));
    height: 80vh;
    overflow: hidden;
}


.scrollableDiv{

    /*Size*/
    height: 100%;
    width: 100%; 

    /*Disposition*/
    position: absolute;
    
    /*Style*/
    background-size: cover;

}

#rox{

    /*Style*/
    background-image:url(assets/img/rox.jpg) ;
    background-position: bottom;
}

#evolv{

    /*Style*/
    background-image:url(assets/img/evolv.jpg) ;
    background-position: center;

}

#spraywall{

    /*Style*/
    background-image:url(assets/img/spraywall.jpg) ;
    background-position: center;

}

#photo{

    /*Style*/
    background-image:url(assets/img/photographie.jpg) ;
    background-position: center;

}

#madrock{

    /*Style*/
    background-image:url(assets/img/madrock.jpg) ;
    background-position: center;

}

#neria{

    /*Style*/
    background-image:url(assets/img/neria.png) ;
    background-position: center;

}

.alignEnd{

    /*Disposition*/
    align-items: end;
}

.marginProjectInfo{

    /*Disposition*/
    padding:var(--mp-m);
    

    /*Style*/    
    background-color: var(--c-background);
    align-items: end;
    z-index: 5;

    /*Borders*/
    border-radius: var(--br-s);
    border-color: var(--c-text);
    border-width: 1px;
    border-style: solid;

    margin-bottom: -15vh;
    margin-right: calc(4* var(--mp-m));
    margin-top: calc(4* var(--mp-m)) ;
}

.m-top{
    margin-top:var(--mp-m);
}

.projectSecTitle{
    margin-left: 25%;
    gap: 20px;
    mix-blend-mode:color-dodge;
}

/*Section 5 -------------------------------------------------------*/

#section5{
    margin-top: calc(2*var(--mp-m));
}

.tierLargeDiv{
    width: 30vw;
}

#imageCtaSection{
    margin-top: -50px;
    width: 50%;
    height: 60vh;
    object-fit: cover;
    
}

#rightTextCtaSec {
    padding-bottom: var(--mp-m);
    width: 50%;
    margin-top: var(--mp-m);
}

#CtaImageTextDiv{
    width: 60%;
    justify-content: end;
    gap: 5vw;
    /*background-color: aqua;*/
}

#CtaContactDiv{
    align-items: end;
    justify-content: end;
    /*width: 20vw;*/
    margin-top: var(--mp-m);
    padding-left: var(--mp-m);
    padding-bottom: var(--mp-m);
    /*background-color: rgb(0, 255, 76);*/

}
.gapEightPx{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#ctaBotFirstSec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: var(--mp-m);
    /*background-color: rgb(25, 0, 255);*/
}

#bottomDivCta{
    display: flex;
    justify-content: space-between;
    padding-right: var(--mp-m);
    padding-left: var(--mp-m);
    padding-bottom: var(--mp-m);
    
}

.xl-title{
    margin-left: calc(-1.5*var(--mp-s));
    font-size: 305px;
}

.p-xl-text-sec{
    padding-right: var(--mp-m);
    padding-left: var(--mp-m);
    padding-bottom: var(--mp-m);

    align-items: end;
}

#s-w-subtitle-cta{
    margin-left: 40px;
}

#t-w-subtitle-cta{
    margin-left: 30px;
}


/*Design Mobile -------------------------------------------------------------------------------------------------*/

@media(max-width: 800px){

    .xl-title{
        font-size: 75px !important;
    }

    #section1, #section2, #section3, #section4, #section5{
        overflow-x: hidden;
        
    }

    h1{
        font-size: 45px;
    }

    .section{
        padding : var(--mp-m-mobile);
    }

    #section1{
        margin-bottom: 0;
    }

    #sec1Body{
        flex-direction: column;
    }

    .expertise{
        gap: 10px;
    }

    #leftDivIntro{
        flex-direction: column-reverse;
        width : auto;
        gap : 20px;
        align-items : start;
        margin : var(--mp-s)
    }

    #rightDivIntro{
        flex-direction: column;
        width : 100%;
       
        align-items: flex-start;
    }

    #rightDivBotDivIntro{
        width: 90%;
        height: fit-content;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--mp-s);
    }

    #speSec1 {
        flex-direction: column;
        gap: 0;
        
    }

    #text-intro-left{
        width: 80%;
    }

    #text-intro-right{
        width: 40vw;
    }

    #introImageWrapper{
        height: 50% !important;
        width : 100% !important;
    }

    .xl-title{
        font-size:85px ;
        margin-left : -8px;
    }

    #introImageWrapper {
        width: 50%;
        height: 100%;
    }

    .ongletHeader{
        padding: calc((var(--mp-s))/1.3);
    }

    p{
        font-size: 12px !important;
    }


    /*Section 2 -----------------------------------------*/

    #section2{
        flex-direction: column-reverse;
        height: fit-content;
        gap: var(--mp-m);
    }

    .flexcolumn.onglet.spe{
        width: 100%;
    }

    .spe{
        height: fit-content;
    }

    .imgSpe{
        height: 100px;
    }

    #rightTextDivSec2{
        align-items: flex-start;
    }

    #leftColSec2, #rightColSec2{
        width: 100%;
        align-items: flex-start;
        margin: 0;
        gap: var(--mp-m);
    }

    #spe1, #spe2, #spe3, #spe4, #spe5{
        margin: 0;
    }


    /*Section 3 -------------------------------------------------------------------------*/

    .sec3Title{
        gap: var(--mp-m-mobile);
    }

    .column{
        flex-direction: column;
        width: 90%;
    }

    .sec3window{
        margin-top: 0;
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: var(--mp-m-mobile);
    }

    .sec3Onglet{
        width: 100%;
    }

    #sec3Image{
        width: 100%;
    }

    #sec3Image2{
        width: fit-content;
    }

    #p1sec3{
        width: 100%;
        margin-top: var(--mp-m-mobile);
        margin-bottom: var(--mp-m-mobile);
    }

    #paragraphOutDivSec3{
        width : 100%;
    }


    /*Section 4 ----------------------------------------------------------------------------------*/
    


    /*Section 5 ----------------------------------------------------------------------------------*/
    #bottomDivCta{
        padding-left: var(--mp-m-mobile);
        padding-right: var(--mp-m-mobile);
        padding-bottom: var(--mp-m-mobile);
        flex-wrap: wrap;
    }

    #CtaContactDiv{
        padding-left: var(--mp-m-mobile);
        width: 30vw;
    }

    #CtaImageTextDiv{
        width: 100%;
    }

    #imageCtaSection{
        height: 30vh;
        margin-top: 0;
    }
}



